/*用户协议*/
.protocol-f {
    background:  url("../../img/protocol-bg.jpg") no-repeat;
    height: 211px;
    width: 100%;
    background-size: cover;
}
.p-title {
    left: 70px;
    top: 40px;
    background: url("../../img/d-text.png") no-repeat;
    width: 210px;
    height: 57px;
}
.s-info {
    padding-left: 335px;
    padding-top: 40px;
}
.s-info h3 {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.s-info p {
    color: #666;
    font-size: 16px;
    line-height: 26px;
}
.p-title {
    font-weight: bold;
    font-size: 20px;
}