/*个人设置页面*/

.p-modify {
    width: 540px;
    margin: 0 auto;
}
.p-modify li {
    margin-bottom: 20px;
}
.p-modify span {
     display: inline-block;
     width: 100px;
     text-align: right;
     color: #666;
     margin-right: 5px;
 }
.p-modify input[type="password"] {
    display: inline-block;
    width: 268px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    border: 1px solid #eaeaea;
    border-radius: 5px;

}
.tips {
    color: red;
}
.savebtn {
    height: 38px;
    display: block;
    line-height: 38px;
    padding: 0 20px;
    margin: 0 auto;
}