 /*相关作品*/
.view-tab {
    text-align: right;
   font-size: 0; 
}
.d-view {
    display: inline-block;
    width: 30px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    *display: inline;
    *zoom: 1;
}

.view-choose {
    background-color: #ffcccb;
    border: 1px solid #ffcccb;
}
.d-view i {
    width: 30px;
    height: 20px;
}
.d-list {
    border-radius: 5px 0 0 5px;
    border-right: none;
}

.d-list .i-list{
    display: block;
    background: url(../../../assets/img/list-b-c.png) 8px 5px no-repeat;
}
.d-grid {
    border-radius: 0 5px 5px 0;
    border-left: none;
}
.d-grid .i-grid {
    display: block;
    background: url(../../../assets/img/list-s-c.png) 7px 5px no-repeat;
}
.view-choose .i-list {
    background: url(../../../assets/img/list-b.png) 8px 4px no-repeat;
}
.view-choose .i-grid {
    background: url(../../../assets/img/list-s.png) 8px 5px no-repeat;
}
.type-l .book-l {
    width: 311px;
    overflow: hidden;
}
.type-l .book-t {
   font-size: 16px;
   color: #67bdcd;
   line-height: 40px;
}
.type-l .book-i {
    width: 333px;
}
.type-l .book-i li {
    float: left;
    width: 91px;
    margin-right: 20px;
}
.type-l .book-img {
    display: block;
    width: 90px;
    height: 90px;
    overflow: hidden;
}
.book-img img {
    width: 90px;
    height: auto;
}
.book-info {
   font-size: 14px;
   line-height: 22px;
   color: #888;
   margin-top: 5px;
}


.type-l .v-line {
    width: 1px;
    height: 90px;
    background: #ccc;
    float: left;
    margin-top: 40px;
    position: relative;
    left: 17px;
}
.type-g .list-time {
    font-size: 14px;
    color: #888;
    line-height: 30px;
}
.type-l .book-name{
    display: none;
}
.type-l .list-time {
    display: none;
}
.type-l .book-info {
   display: block; 
}
.type-g .v-line {
    display: none;
}
.type-g .book-t {
    display: none;
}
.type-g .book-name {
    display: inline-block;
}
.type-g .book-img {
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 20px;
}
.type-g .book-l {
    width: auto;
}
.type-g .book-i {
    width: auto;
}
.type-g .book-i li {
    float: none;
    width: auto;
    overflow: hidden;
    zoom:1;
    margin-bottom: 20px;
}
.type-g .pull-left {
    float: none;
}
.type-g .b-cont {
    float: left;
}
.type-g .pull-right {
    float: none;
}

.js-tooltip {
    width: 200px;
    position: absolute;
    display: none;

}
.tool-box {
    position: relative;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding-bottom: 15px;
}
.tool-info p{
    color: #929292;
    line-height: 22px;
    margin: 0 10px 0 15px;
}
.jp-t {
   background-color: #ffcccb;
    color: #fff;
    line-height: 34px;
    height: 34px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}
.tool-side {
    position: absolute;
    background: url(../../../assets/img/js-hint.png) no-repeat;
    width: 29px;
    height: 17px;
    left: -20px;
    top: 0;
    
}