/*动漫人 */
.v-detail {
	margin-top: 10px;
}

.js-filter-box li {
	
}
.js-left {
	width: 175px;
}
.js-left .filter-a {
	margin-right: 10px;
}
.js-left .js-name {
	text-align: left;
	text-indent: 0;
}
.js-right {
	/* width: 480px; */
}
.JS-e {
	font-size: 12px;
	line-height: 24px;
}

.js-right {
	float: right;
}
.js-right .filter-a {
	margin-left: 10px;
}
.js-text-r {
	float: right;
}
.js-right .d-cmcm-a {
	margin-right: 0;
	margin-left: 8px;
}
.js-name {
    color: #67bdcd;
    font-size: 16px;
    text-indent: 25px;
    text-align: right;
}
.js-right .js-name {
	margin-bottom: 10px;
}
.js-right .JS-e  {
	text-align: right;
}
.br-b {
    border-bottom: 1px solid #eaeaea;
    padding: 25px 0 30px;
}
.br-b2 {
    border-bottom: 1px dashed #eaeaea;
    padding: 25px 0 30px 40px;
}