/*个人设置css*/ 

.set-list { 
    width: 500px; 
    margin: 0 auto;  
}
.set-list li {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}
.form_left {
    width: 85px;
    text-align: right;
    left: 0;
    color:#666;
}
.input_info {
    padding-left: 100px;
}
.input_info input[type="text"] {
    display: inline-block;
    *display: inline;
    *zoom:1;
    width: 270px;
    height: 28px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 0 5px;
}
.show-tips {
    font-size: 12px;
    line-height: 18px;
    margin-top: 8px;
    width: 280px;
}
.check-radio {
    display: inline-block;
    position: relative;
    cursor: pointer;
    line-height: 18px;
    margin-right: 5px;
}
.bg-radio {
    background: url("../../img/check-box.png") no-repeat;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 1px;
    left: 5px;
}
.input_info input[type="radio"] {
   # opacity: 0;
}

.check-bg .bg-radio {
    background: url("../../img/check-checked.png") no-repeat;
}
.set-info {
    width: 260px;
    height: 80px;
    padding:5px;
}
.save-info .savebtn{
    display: block;
    margin-left: 75px;
}
.input_info placeholder {
    color: #ccc;
}

.input_info select {
    width: 120px;
    height: 30px;
    border: 1px solid #eaeaea;
    cursor: pointer;
    border-radius: 3px;
}
.option-bg {
    background: #f5f5f5;
    height: 29px;
    width: 30px;
    position: absolute;
    left: 189px;
    top: 1px;
    cursor: pointer;
    pointer-events: none;
}
.arrow-down {
    border-top:10px solid #a0a0a0;
    border-left-width: 4px;

}
.error-tips {
    font-size: 12px;
}
/*头像设置*/

.set-explan{}
.set-explan li {
    line-height: 26px;
}
.set-explan b {
    display: inline-block;
    *display: inline;
    *zoom:1;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #a5a5a5;
    margin-right: 8px;
    position: relative;
    top: -2px;
}
.upload {
    display: block;
    width: 70px;
    text-align: center;
    margin: 35px 0 25px;
    position: relative;
    cursor: pointer;
}

.img-wrap {
    max-width: 410px;
    max-height: 240px;
    overflow: hidden;
    margin-bottom: 50px;
}
.upload-file {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;

}
.upload-save {
    margin-right: 40px;
}
.upload-save, .cancel-btn {
    padding: 0 25px;
    float: left;
}
.cancel-btn:hover{
    color: #fff;
}
.cancel-btn {
    background-color: #cbcbcb;

}

.w150h150 {
    border: 1px solid #eaeaea;
    padding: 2px;
    width: 148px;
    height: 148px;
    overflow: hidden;

}

.w50h50 {
    border: 1px solid #eaeaea;
    padding: 2px;
    width: 48px;
    height: 48px;
    overflow: hidden;
    margin: 0 auto;

}
.w150h150 img, .w50h50 img {
    width: 100%;
    height: auto;
}
.img-size {
    margin: 10px auto 20px ;
    text-align: center;
}
.img-wrap img{
    width: 100%;
    height: 100%;
    border-width:0;
}

