/*榜单样式*/

html, body {
    background-color: #fff;
}
.m-struct-t {
    border: none;
}
.list-head {
    background: url("../../img/b-head-bg.jpg") no-repeat;
    height: 97px;
    background-size: cover;
}
.haad-f {
    font-size: 40px;
    color:#67bdcd;
    line-height: 97px;
}
.list-l {}
.list-l li {
    padding: 30px 20px 30px 0;
    border-bottom: 1px solid #eaeaea;
    min-height: 230px;
    position: relative;
}
.list-img {
    border: 1px solid #eaeaea;
    width: 162px;
    height: 228px;
    overflow: hidden;
}
.list-img img {
    width: 164px;
    height: auto;
}
.head-pad {
    padding-left: 184px;
    overflow: hidden;
}
.head-pad h3{
    color: #67bdcd;
    font-size: 24px;
    margin-bottom: 25px;
}
.head-pad h3.headline {
    margin-bottom: 0;
}
.head-pad p {
    line-height: 22px;

}
.bottom-info {
    position: absolute;
    bottom: 30px;
    left: 184px;
    width: 776px;
}
.comment,.browse {
    float: right;
    margin-left: 20px;
}
.page {
    margin: 35px 0 110px;
}

/*动画top20*/
.here, .here a {
    color: #888;
}
.big-t {
    margin: 5px 0 15px;
}

.big-t h3 {
    float: left;
    font-size: 40px;

}
.big-t .comment, .big-t .browse {
    margin-left: 4px;
    margin-right: 4px;
}
.big-t span {
    margin-top: 20px;
}
.top200-t {
    background-color: #67bdcd;
    height: 40px;
    width: 100%;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    text-indent: 2em;
    margin: 20px 0;
}
.top-list {

}
.top-list li {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #eaeaea;

}
.d-filter-grade {
    margin: 10px 0;
}
.class-m {
    margin: 0;
}
.top-href {
    display: block;
}
.top-href .actor {
    margin-bottom: 10px;
}
.top-href .actor, .top-href .top-info {
    font-size: 12px;
    color: #888;
    line-height: 20px;
}
.arrow-l {
    position: absolute;
    top: 17px;
    left: 0;
    background: url("../../img/left-arrow.png") no-repeat;
    width: 35px;
    height: 43px;
}
.e-list {
    background-color: #f9f9f9;
    padding: 20px;
    margin-left: 32px;
    margin-top: 23px;
    color: #67bdcd;
}

.e-list p{
    overflow: hidden;
    display: block;
}
.top-href:hover {
    background-color: #efefef;
}



