


.js-tooltip {
    width: 200px;
    position: absolute;
    display: none;

}
.tool-box {
    position: relative;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding-bottom: 15px;
}
.tool-info p{
    color: #929292;
    line-height: 22px;
    margin: 0 10px 0 15px;
}
.jp-t {
    background-color: #ffcccb;
    color: #fff;
    line-height: 34px;
    height: 34px;
    padding-left: 15px;
    text-align: left;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}
.tool-side {
    position: absolute;
    background: url(../../../assets/img/js-hint.png) no-repeat;
    width: 29px;
    height: 17px;
    left: -20px;
    top: 0;

}

/*短评页面 short comment*/
.change-num a {
    background-color: #f5f5f5;
    color: #67bdcd;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding: 0 15px;
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
}
.change-num a.num-on {
    background-color: #d4f8ff;
    color: #333;
}
.comment-hd .pink-btn {
    font-size: 14px;
    font-family: "微软雅黑";
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
}
.comment-hd .pink-btn:hover {
    color: #fff;
}
.comment-tab {
    margin: 10px 0 30px;
}
.comment-tab a {
    color: #888;
    font-size: 12px;
}
.comment-tab b {
    height: 28px;
    color: #dcdcdc;
}
.comment-cont li{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eaeaea;
    position: relative;

}
.comment-i {
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.comment-i img {
    width: 100%;
    height: auto;
}
.comment-info {
    padding-left: 60px;
    line-height: 25px;
}
.date {
    font-family: "宋体";
    color: #888;
}
.comment-info p {
    font-size: 12px;
    line-height: 20px;
    width: 80%;
}
.comment-cont .zan {
    position: absolute;
    top: 0;
    right: 0;
}
.watched-list .img-r {
    float: none;

}
.watched h5{
    margin-bottom: 20px;
}
.watched {
    padding-left: 80px;
}
.watched-list li {
    margin-bottom: 20px;
}

.o-person, .o-person a {
    font-size: 12px;
    margin-left: 3px;
    color: #67bdcd;
}

.s-num-hide {
    display: none;
}

